body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #565656;
}

.subnav{
background-color:#7ba758;
color: #FFFFFF;
font-size:12px;
font-weight:bold;
padding-left:70px;
}

.subnav_username {
	text-align: right;
	text-decoration: bolder;
	background-color: #bd5e38;
	width: 100%;
	padding-right: 10px;
}

/*====*/
.Heading{
	font-family: Arial, Helvetica, sans-serif;
	color: #6d7100;
	text-align:left;
	font-weight:bold;
}

.tbltitle_header {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color:#7c471d;
	text-align:left;
	font-weight:bold;
	text-decoration:none;
	margin-top:10px;
	height: 60px;
	padding-left:20px;
	font-size: 30px;
}
.tblrow1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #565656;
	background-color:#eeeeee;
	text-align:left;
	padding: 5px 5px 5px 5px;
	border: 1px solid;
	height: 40px;
	vertical-align: top;
}
.tblrow2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #565656;
	text-align:left;
	padding: 5px 5px 5px 5px;
	border: 1px solid;
	height: 40px;
	vertical-align: top;
}

.tbl_properties {
	width:70%;
	margin-left:15%; 
    margin-right:15%;
	border: 1px solid;
	padding: 2px 2px 2px 2px;
}

.button {
	text-align:right;
	margin-top: 15px;
}	

a.nav{
text-decoration:none;
border-style:none;
color:#FFFFFF;
}

img{
border-style:none;
}

input.formbutton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12pt;
	border: 1px solid #999;
	color: #fff;
	background: #7c471d;
}
input.formbutton:hover {
	color: #fff;
	background: #7c471d;
}

input.formbutton:active {
	color: #fff;
	background: #7c471d;
}

table.tableadd{
	font-family: Arial, Helvetica, sans-serif;
	color: #565656;
	background-color:#eeeeee;

}

/*textbox*/

input.submit { 
	border: 1px solid #999;
	background: #fff;
	margin-top: 10px;
	size: 12px;
}

input.text, input.range, input.medium{
	border: 1px solid #999;
	background: #fff;
	
}

input.text:focus {
	background: #ddf5ff;
}

input.text {
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	height: 30px;
	padding: 2px 6px 2px 6px;
}

input.text1 {
	width:150px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
}

select {
	width:200px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
}

a.viewing
{
text-decoration:none;
font-size:11px;
text-align:right;
}

a.clientview
{
text-decoration:none;
font-size:14px;
text-align:right;
}
.menusectionstyle {
	position: absolute;
	color: black;
	background-color: #44602f; 
	visibility: hidden;
	border-spacing: 1px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
} 
.menusectionitem { 
	color: white; 
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold; 
} 
.menusectionitem:hover { 
	text-decoration: underline; 
	color: #FFFFFF; 
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

h3 {
	color: white;
	text-align: center;
}

/* Style the Image Used to Trigger the Modal */
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  /*width: 25%;*/
}

/* The Modal (background) */

* {
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.imgList:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(4); 	
}

/* Top left text */
.containerImage {
  position: relative;
  text-align: center;
  color: white;
  text-align: left;
  text-decoration: none;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;

}

#txtFile{
    display:none
}